@import "../../assets/styles/main";

$divide-color: $border-color-base;
$banner-height: 360px;
// .container {
//   position: relative;
//   display: block;
//   margin: 0 auto;
//   width: $page-width;
// }

@import "./views/ItemGroup/ItemGroup.scss";

.brand-banner {
  background-color: #fff;

  & > img {
    width: 100%;
    // height: $banner-height;
    background-color: #f5f5f5;
  }

  .brand-desc {
    padding: 37px 50px 10px;
    margin: 0;
    font-size: 17px;
    line-height: 1.8;
    color: #666;
  }
}
