// Items

@mixin items($item-interval-width, $item-interval-height, $item-img-width, $item-img-height) {
  margin-right: -$item-interval-width;

  & .item {
    display: inline-block;
    margin-right: $item-interval-width;
    margin-bottom: $item-interval-height;
    float: left;

    & > a {
      display: block;
      position: relative;
      width: $item-img-width;
      height: $item-img-height;
      img {
        height: $item-img-height;
      }

      .del {
        z-index: 101;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        color: $font-color-base;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      &:hover {
        .del {
          display: inline-block;
        }
        .dialog {
          display: block;
        }
      }
    }

    .item-info {
      padding: 16px 10px 10px;
      text-align: center;
      line-height: $nav-line-height-base;
      background-color: $bgc-info-base;
      h5 {
        margin: 0 0 5px 0;
      }
    }
  }
}