{% macro dropdown(navs=[[(1, '家庭'), [(5, '书房'), (6, '客厅'), (7, '卧室'), (8, '厨卫'), (9, '餐厅'), (10, '儿童房')]], [(2, '办公'), [(2, '酒店'), (3, '工作室')]], [(3, '工艺品'), [(4, '工艺品')]], [(4, '其他'), [(1, '其他')]]]) %}
{% for nav in navs %}
    <li class="dropdown-nav">
        <span class="dropdown-toggle" aria-haspopup="true" role="button" aria-expanded="false">{{ nav[0][1] }}</span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for item in nav[1] %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/item/?scene={{ item[0] }}">
                      {{ item[1] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
{% endmacro %}
