alembic==0.8.2
amqp==1.4.7
anyjson==0.3.3
billiard==3.3.0.20
blinker==1.4
captcha==0.2
celery==3.1.18
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
coverage==4.0
Flask==0.10.1
Flask-CDN-NG==1.3.0
Flask-Celery==2.4.3
Flask-Celery3==0.2
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.1
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.12
html5lib==0.999
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.26
language-selector==0.1
Mako==1.0.2
MarkupSafe==0.23
Pillow==8.1.1
pycurl==7.19.3
pygobject==3.12.0
PyMySQL==0.6.7
python-apt===0.9.3.5ubuntu1
python-editor==0.4
pytz==2015.6
redis==2.10.3
requests==2.7.0
six==1.9.0
SQLAlchemy==1.0.8
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.26.5
wcwidth==0.1.5
Werkzeug==0.10.4
wheel==0.24.0
WTForms==2.0.2
