@import "../../assets/styles/main";

.filter .filter-item label {
  font-weight: normal;
}

.amount {
  padding-right: 28px;
  background: url("/app/assets/images/arrow_right.png") no-repeat right;
}

.filter-wrapper, .sort-wrapper, .items-wrapper, .pagination-wrapper {
  @extend .wrapper;
}

.filter-wrapper {
  margin-bottom: 24px;
}

$if-no-items-height: 130px;
.items-wrapper {
  @extend .clearfix;
  text-align: center;
  .if-no-items {
    display: inline-block;
    margin: 90px auto 40px;
    padding-left: 160px;
    height: $if-no-items-height;
    background: url('/app/assets/images/search_page_no_items.png') no-repeat left;
    p {
      margin: 0;
      line-height: $if-no-items-height;
      font-size: 24px;
      color: #999;
    }
  }
}

.sort-wrapper {
  margin-bottom: 0;
}

.pagination-wrapper {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
