// Global

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}
