.result {
  width: 400px;
  height: 250px;
  margin: 60px auto 130px;
  background-color: #1E1513;
  text-align: center;

  .title {
    display: inline-block;
    margin-top: 40px;
    font-size: 36px;
    line-height: 1;
  }

  .info {
    margin: 20px 90px 0;
    font-size: 20px;
  }
}