
$page-width: 1200px;

$bgc-base: #f5f5f5;

$border-color-base: #ccc;

$main-color-base: #833e00;
$main-color-dark: #411e00;

$link-color: $main-color-base;
$link-hover-color: darken($main-color-base, 8);
