// Variables
@import "../../lib/bootstrap-sass/sass/bootstrap/variables";

// bgc
$bgc-base:                #170b09;
$bgc-btn:                 #221715;
$bgc-info-base:           #322827;
$bgc-content:             #231716;

// font
$icon-font-path:          'http://wanmujia.oss-cn-beijing.aliyuncs.com/lib/fonts/bootstrap/';

$font-family-base:        SimHei, sans-serif;
$font-size-base:          14px;
$font-size-large:         18px;
$font-size-lx:            24px;
$font-color-base:         #969696;

// border
$border-color-base:       #9c9c9c;
$border-color-display:    #323232;

// link
$link-hover-color:        #969696;
$link-hover-color-display:#646464;


// wrapper
$wrapper-width-small:     840px;
$wrapper-width-base:      960px;
$wrapper-width-full:      100%;


// nav
$nav-interval-small:      10px;
$nav-interval-base:       14px;
$nav-interval-large:      80px;

$nav-line-height-base:    1.7;
$nav-line-height-large:   2.4;


// dropdown
$dropdown-bg:             rgba(0, 0, 0, 0.7);
$dropdown-link-color:     #fff;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg:  lighten($dropdown-bg, 10%);


// items
$item-interval-width:     104px;
$item-interval-height:    38px;
$item-img-width:          250px;
$item-img-height:         250px;


// Paging
$font-size-paging:        12px;
$pre-next-margin:         15px;
$page-width:              30px;
$page-height:             30px;
$pre-next-width:          70px;


// Dialog
$dialog-bgc:              rgba(0, 0, 0, 0.7);
