.compare-bar {
    position: relative;
    display: inline-block;
}
.compare-bar .compare-num {
    position: absolute;
    font-size: 12px;
    background: red;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    top: 3px;
    right: -8px;
    border-radius: 12px;
}
.compare-bar:hover .compare-bar-cont {
    display: block;
}
.compare-bar-cont {
    position: absolute;
    width: 260px;
    background-color: rgba(0, 0, 0, .85);
    z-index: 999;
    left: -135px;
    padding: 15px 30px;
    color: #969696;
    display: none;
}
.compare-bar .tip-to-add,
.compare-bar .add-result-tip {
    line-height: 24px;
    padding: 0 20px;
}
.compare-bar .compare-bar-item {
    position: relative;
    margin-bottom: 20px;
}
.compare-bar .compare-bar-item>img {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: text-top;
}
.compare-bar .compare-bar-item .desc {
    width: 170px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: text-top;
}
.compare-bar .compare-bar-item .desc h2 {
    font-size: 20px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    padding: 4px 0 10px 0;
}
.compare-bar .compare-bar-item .desc .price {
    line-height: 18px;
}
.compare-bar .compare-bar-item .delete {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 12px;
    color: #D74132;
    display: none;
}
.compare-bar .compare-bar-item:hover .delete {
    display: block;
}

.compare-bar .compare-link {
    text-align: center;
    color: #969696;
    margin-left: 50%;
    position: relative;
    left: -1em;
    background: #1E1513;
    padding: 5px 5px;
}
.compare-bar .compare-link:hover {
    color: #fff;
}
