@import "main";
@import "../util/paging";

$line-height-filter: 50px;
$filter-padding-left: 50px;
$filter-padding-right: 46px;
$filter-sortbar-hover-color: #fff;

.wrapper-sm {
  @extend .wrapper;
  width: $wrapper-width-small;
}

// Filter
#filter-group {
  margin-bottom: 10px;
}

// Sortbar
.sortbar {
  margin-bottom: 30px;
  border: 1px solid $border-color-display;

  .sort {
    @extend .nav;
    padding: 0 $filter-padding-right 0 $filter-padding-left + 10;

    li {
      color: $font-color-base;
      font-size: $font-size-base - 2;
      line-height: $line-height-filter - 10;
      cursor: pointer;

      &:hover {
        color: $filter-sortbar-hover-color;
      }

      &.active {
        color: $filter-sortbar-hover-color;
      }

      .darr::after {
        content: '\2193';
      }
      .darr.inc::after {
        content: '\2191';
      }

    }
  }

  .declare {
    padding: 0 46px 0 $filter-padding-left + 10;
    border-bottom: 1px dashed $border-color-display;
    font-size: $font-size-base - 2;
    line-height: $line-height-filter - 10;
    color: $font-color-base;

    .dec-head {
      margin: 0 30px 0 0;
      float: left;
    }

    .dec-body {
      span {
        margin: 0 10px;
      }
    }
  }
}

// Items
$item-interval-width: 60px;
$item-interval-height: 60px;
$item-img-width: 240px;
$item-img-height: 240px;
.item-wrapper {
  @include items($item-interval-width, $item-interval-height, $item-img-width, $item-img-height);
}

// Paging
#paging {
  margin-top: 20px;
  text-align: center;
}
