@import "main";
@import "../util/forms";

.wrapper-login {
  @extend .wrapper;

  .title {
    margin: 40px 0 40px 0px;
    font-size: 36px;
  }

  .register {
    display: block;
    float: left;

    margin-left: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }

  .err-tip {
      display: none;
      line-height: 40px;
      padding-left: 2.6em;
      overflow: visible;
      color: #fff;
  }

  .resetpsw-link {
      display: block;
      position: relative;
      top: -15px;
  }
}
