@import "main";
@import "../util/result";

.result .title {
    font-size: 22px;
    border: 2px solid #fff;
    padding: .6em 2em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.result .username ,.result .tip {
    text-align: left;
    font-size: 17px;
    padding-left: 3em;
    padding-top: 1.4em;
}
.result .info {
  margin: 50px 50px 0;

  .username, .nickname {
    @extend .clearfix;
    margin-top: 30px;
    span {
      display: block;
      float: left;

      &:first-child {
        margin-right: 60px;
        width: 100px;
        text-align: right;
      }
    }
  }

}
