.slide-wrapper {
  @extend .wrapper;
  width: 100%;
  min-width: 960px;

  & img {
    width: 100%;
    height: 480px !important;
  }
}

.container .divider {
  margin: 55px 0;
  min-width: 960px;
  height: 2px;
  background-color: #fff;
  text-align: center;

  & h3 {
    z-index: 10;
    display: inline-block;
    position: relative;
    top: (-$font-size-lx * $line-height-base / 2);
    margin: 0;
    padding: 0 40px;
    background-color: $bgc-base;
    font-size: $font-size-lx;
  }
}

.container .more {
  margin-top: 40px;
  font-size: $font-size-large;
  text-align: right;
}

.item-wrapper {
  margin-right: -$item-interval-width;

  & .item {
    display: inline-block;
    margin-right: $item-interval-width;
    margin-bottom: 38px;
    float: left;

    & > a {
      display: block;
      position: relative;
      width: 250px;
      height: 250px;
      & img {
        height: 250px;
      }
    }

    & .item-info {
      padding: 16px 10px;
      text-align: center;
      line-height: $nav-line-height-base;
      background-color: $bgc-info-base;
      & h5 {
        margin: 0 0 5px 0;
      }
    }
  }
}
