@import "main";
@import "util/forms";

$input-height: 45px;
$input-width: 600px;

.wrapper-addr {
  @extend .wrapper;
  width: $wrapper-width-small;
  height: 450px;
}

.input-addr {
  margin-top: 100px;
  //padding-left: 50px;
  width: $input-width;

  .city {
    margin-right: 20px;
    width: 140px;
    height: $input-height;
    line-height: $input-height;
    background-color: #2a201e;
    color: #c8c8c8;
  }

  #detail_addr {
    width: $input-width - 160;
    height: $input-height;
  }
}
