@import "main";
@import "util/forms";

.wrapper-login {
  @extend .wrapper;

  .title {
    margin: 40px 0 40px 0px;
    font-size: 36px;
  }

  .register {
    display: block;
    float: left;

    margin-left: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}