@import "main";
@import "util/forms";

.wrapper-register {
  @extend .wrapper;

  .title {
    margin: 40px 0 50px;
    font-size: 36px;
  }

  //.step-two {
  //  display: none;
  //}

  #verify {
    width: 180px;
    
    & + .code {
      float: left;
      margin-left: 40px;
      width: 130px;
      height: $form-group-height;
      line-height: $form-group-height;
      background-color: #241917;

      img {
        display: none;
      }
    }
  }

  .upload[for="id-photo-back"] {
    margin-bottom: 30px;
  }

  input[type="submit"], input[type="button"] {
    margin-right: 25px;
    width: 150px;
  }
}