@import "main";
@import "util/forms";

.wrapper-register {
  @extend .wrapper;

  .title {
    margin: 40px 0 50px;
    font-size: 36px;
  }

  .way-mp {
    input[type="text"], input[type="email"] {
      width: 300px;
    }

    .send {
      margin-left: 20px;
      padding: 0 15px;
      width: auto;
      font-size: $font-size-base;
      outline: none;

      &.disabled {
        background-color: darken(#433c3a, 10%);
        cursor: not-allowed;
      }
    }

    .another-way {
      margin-left: 50px;
    }
  }

  .another-way {
    display: block;
    float: left;

    margin-left: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}