{% extends "user/layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/compare.css')}}"/>
{% endblock %}

{% block content %}
    <div id="compare"></div>
    <!-- <div class="compare">
        <div class="wrapper-cmp">
            <h3>产品对比</h3>

            <div class="compare-img clearfix">
                <div class="first">
                    <a href="/item?id="><img src="{{url_for('static', filename='img/user/item02.jpg')}}" alt="" /></a>
                </div>
                <div class="second">
                    <a href="/item?id="><img src="{{url_for('static', filename='img/user/item03.jpg')}}" alt="" /></a>
                </div>
            </div>

            <table class="compare-params">
                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">名称</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">器行</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">材质 (含镶嵌材料)</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">尺寸</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">烘干</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">工艺 (雕刻)</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">上蜡</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">打磨</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">五金镶嵌</td>
                    <td class="second">second</td>
                </tr>

                <tr class="param">
                    <td class="first">first</td>
                    <td class="param-name">指导价格</td>
                    <td class="second">second</td>
                </tr>
            </table>
        </div>
    </div> -->
    <script src="{{url_for('static', filename='js/util.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/compare.js')}}"></script>
{% endblock %}
