{% extends "user/layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/details.css')}}"/>
{% endblock %}

{% block content %}
    <div class="overview">
        <div class="wrapper-ov">
            <div class="gallery">
                <div class="booth">
                    <img src="{{ item.images.first().url }}" alt="{{ item.name }}"/>
                </div>
                <ul class="thumbnail">
                    {% for img in item.images %}
                        <li {% if loop.index == 1 %}'class="active"'{% endif %}>
                            <a href="#"><img src="{{ img.url }}" alt="{{ item.name }}"/></a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="vendor">
                    <h3 class="vendor-name">{{ item.vendor.name }}</h3>
                    <div class="vendor-info">
                        <img src="{{ item.vendor.logo }}" alt="{{ item.vendor.name }}" class="vendor-logo"/>
                        <p class="vendor-desc">{{ item.vendor.desc }}</p>
                    </div>
                    <div class="vendor-entry">
                        <a href="/vendor?id=">进入{{ item.vendor.name }}主页</a>
                    </div>
                </div>
            </div>

            <div class="property">
                <div class="title">
                    <h1>{{ item.name }}</h1>
                    <p>{{ item.desc }}</p>
                </div>

                <dl class="param price">
                    <dt>指导价格</dt>
                    <dd>&yen; <span>{{ item.price }}</span></dd>
                </dl>

                <div class="action">
                    <button class="vs" data-id="{{ item.id }}">加入对比</button>
                    <button class="like" data-id="{{ item.id }}" data-method="POST">收藏</button>
                    <!-- <button class="like" data-id="{{ item.id }}" data-method="DELETE">取消收藏</button> -->
                </div>

                <dl class="param">
                    <dt>规格</dt>
                    <dd>
                        <ul>
                            <li>内径: </li>
                            <li>外径: </li>
                        </ul>
                    </dd>
                    </dd>
                </dl>

                <div class="buy">
                    <button class="negotiate"><a href="/address?id=">当面议价</a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="description tab">
        <div class="wrapper-desc">
            <ul class="tabs">
                <li class="active" data-tab="detail"><a href="javascript:void(0)">商品详情</a></li>
                <li data-tab="story"><a href="javascript:void(0)">商品寓意</a></li>
            </ul>

            <div class="tab-content">
                <div class="detail">
                    <ul class="standard">
                        <li>编号：</li>
                        <li>材质：</li>
                        <li>品牌：</li>
                        <li>体积：</li>
                        <li>产地：</li>
                        <li>床机构：</li>
                        <li>色系：</li>
                        <li>工艺：</li>
                        <li>打磨：</li>
                    </ul>

                    <div class="photo">
                        <img src="{{url_for('static', filename='img/user/item05.jpg')}}" alt="{{ item.name }}"/>
                        <img src="{{url_for('static', filename='img/user/item05.jpg')}}" alt="{{ item.name }}"/>
                        <img src="{{url_for('static', filename='img/user/item05.jpg')}}" alt="{{ item.name }}"/>
                    </div>
                </div>

                <div class="story hide">
                    <p>
                        明清后的646年：也说“第一把交椅”的兴替
                        公元1368年，至1911年中国爆发的辛亥革命推翻了清王朝，结束了长达2000年之久的君主专制制度。我仔细数了一下：明代有16任帝皇，清代是12任皇帝；1924年溥仪逐出紫禁城，天潢贵胄的满州贵族，最后跌落凡间。
                        一个万象更新的时期，也一个新旧杂陈的时代
                        20世纪40年代的延安，毛泽东问历史学家范文澜：满族是东北一个小民族，怎就把中国统治了？作为少数民族，满洲的统治者殚精竭虑为满族营建了一个独立居住、文化和制度的空间，尤其政治、文化体系上保有了自己的特质和优势。曾经的彪悍、淳朴，还有那纵横天下的马背民族，最终还是没能等到王朝的颠覆已然老朽。
                        几百年来，意识形态上的左右
                        墓碑、居室、植被、尘土，是如今看见它和那些过去也曾看见的人们之间最哀伤的见证者吧。明朝诞生了“木匠皇帝”朱由校，著有《古董十三说》、《长物志》等古典家具的书籍。明清家具形制的一大贡献是：规定了合适的高度。比如椅凳坐面高度在40～50厘米之间，椅背大多与人的脊骨自然特点设计成“S”形曲线，已是人体放松姿态的自然角度状，一直沿袭至今……
                        回到“第一把交椅”。“交椅”就是这种传统坐具。系社会地位，与交椅的另外一个词“第一”密不可分。 汉灵帝时，北方游牧民族的“胡床”样子犹如矮凳，也称作“绳床”，双足交叉、可以折叠。到了隋朝，改名为“交床”，取其双脚交叉的特点。南宋后，人们又发明了在交床的后部装上托背，形成了真正的第一把交椅。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="addvs-tip-ball"></div>

    <script src="{{url_for('static', filename='js/user/tab.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/details_ui.js')}}"></script>
{% endblock %}
