{% extends "user/layout.html" %}

{% block title %}
    搜索页
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/display.css')}}"/>
{% endblock %}

{% block content %}
    <div class="wrapper-sm">

        <div id="filter-group"></div>


        <div class="sortbar">
            <div class="declare">
                <h5 class="dec-head">万木家提供商品服务</h5>
                <div class="dec-body">
                    <span>正品保证</span>
                    <span>终身免费保养</span>
                    <span>假一赔十</span>
                </div>
            </div>

            <ul class="sort">
                <li class="sort-index" data-sort="price">
                    价格
                    <span class="darr reverse hide"></span>
                </li>
            </ul>
        </div>


        <div class="container">
            <div id="items" class="wrapper"></div>
        </div>


        <div id="paging"></div>

    </div>


    <div id="progress-bar"></div>

    <script src="{{url_for('static', filename='js/user/item.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/paging_ui.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/display.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/display_ui.js')}}"></script>
{% endblock %}
