{% extends "user/layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/register.css')}}"/>
{% endblock %}

{% block content %}
    <div class="wrapper-register">
        <h1 class="title offset">厂家注册</h1>

        <form action="/vendor/register" method="post">
            <div class="way-mp">
                <div class="form-group">
                    <div class="wrapper-label">
                        <label class="control-label" for="mp">手机</label>
                    </div>
                    <input type="text" name="mp" id="mp"/>
                    <input type="button" class="send" value="发送手机验证码"/>
                </div>
                <div class="form-group">
                    <div class="wrapper-label">
                        <label class="control-label" for="verify">验证码</label>
                    </div>
                    <input type="text" name="verify" id="verify"/>
                </div>
                <div class="form-group offset">
                    <input type="checkbox" name="agreement" id="agreement"/>
                    <label class="check" for="agreement"></label>
                    <label class="instruct" for="agreement">同意万木家服务协议</label>
                </div>

                <div class="form-group offset action">
                    <input id="next" type="submit" value="下一步"/>
                </div>
            </div>

        </form>
    </div>

    <script src="{{url_for('static', filename='js/util.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/register_ui.js')}}"></script>
{% endblock %}