@import "../../assets/styles/main";
@import "./views/ItemGroup/ItemGroup.scss";
@import "./views/Elevator/Elevator.scss";

.header {
  margin-bottom: 20px;
}

.item-group {
  margin: 20px auto;
}

.elevator {
  position: fixed;
  top: 200px;
  left: 18px;
}
