@import "../../assets/styles/main";
@import "./views/ItemGroup/ItemGroup.scss";
@import "./views/Elevator/Elevator.scss";

.header {
  margin-bottom: 20px;

  .slider-wrap {
    padding: 0;

    .slider-arrows:first-of-type {
      left: 239px !important;
    }
    
    .dots-wrap {
      padding-left: 239px;
    }
  }
}

.item-group {
  margin: 20px auto;
}

.elevator {
  position: fixed;
}
