{% macro dropdown(navs) %}
{% for nav in navs %}
    <li class="dropdown-nav">
        <span class="dropdown-toggle" aria-haspopup="true" role="button" aria-expanded="false">{{ nav[0][1] }}</span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for item in nav[1] %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/item/?scene={{ item[0] }}">
                      {{ item[1] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
{% endmacro %}
