{% import 'user/macro/items_recommend.html' as recommend %}
{% from 'user/macro/paging.html' import paging %}

{% extends "user/layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/profile.css')}}"/>
{% endblock %}

{% block content %}
    <div class="wrapper-personal">
        <div class="overview">
            <ul class="info">
                <li>昵称：{{ info.nickname }}</li>
                <li>真实姓名：{{ info.name }}</li>
                <li>邮箱：{{ info.email }}</li>
                <li>联系方式：{{ info.mobile_phone }}</li>
                <li>居住地：{{ info.address }}</li>
            </ul>
        </div>


        <div class="tab">
            <ul class="tabs">
                <li class="active" data-tab="collections"><a href="javascript:void(0)">我的收藏</a></li>
                <li data-tab="profile"><a href="javascript:void(0)">账户设置</a></li>
            </ul>

            <div class="tab-content">
                <div class="collections">
                    {{ recommend.items(items, true) }}
                    {{ paging(5) }}
                </div>

                <div class="profile hide">
                    <form action="/user/register/result" method="post">
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="nickname">昵称</label>
                            </div>
                            <input name="nickname" type="text" id="nickname"/>
                        </div>
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="name">真实姓名</label>
                            </div>
                            <input name="name" type="text" id="name"/>
                        </div>
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="mbp">联系方式</label>
                            </div>
                            <input name="mbp" type="text" id="mbp"/>
                        </div>
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="email">邮箱</label>
                            </div>
                            <input name="email" type="text" id="email"/>
                        </div>
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="password">密码</label>
                            </div>
                            <input name="password" type="password" id="password"/>
                        </div>

                        <div class="form-group offset action">
                            <input type="submit" value="完成"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="{{url_for('static', filename='js/user/tab.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/profile_ui.js')}}"></script>
    <script src="{{url_for('static', filename='js/user/paging_ui.js')}}"></script>
{% endblock %}