{% import 'macro/items_recommend.html' as recommend %}
{% from 'macro/paging.html' import paging %}

{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/css/personal.css"/>
{% endblock %}

{% block content %}
    <div class="wrapper-personal">
        <div class="overview">
            <ul class="info">
                <li>昵称：{{ info.nickname }}</li>
                <li>真实姓名：{{ info.name }}</li>
                <li>邮箱：{{ info.email }}</li>
                <li>联系方式：{{ info.mobile_phone }}</li>
                <li>居住地：{{ info.address }}</li>
            </ul>
        </div>


        <div class="tab">
            <ul class="tabs">
                <li class="active" data-tab="collections"><a href="javascript:void(0)">我的收藏</a></li>
                <li data-tab="info-edit"><a href="javascript:void(0)">账户设置</a></li>
            </ul>

            <div class="tab-content">
                <div class="collections">
                    {{ recommend.items(items) }}
                    {{ paging(5) }}
                </div>

                <div class="info-edit hide">
                    <form action="/user/login" method="post">
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="username">登录名</label>
                            </div>
                            <input type="text" name="username" id="username" placeholder="手机号/邮箱/会员名"/>
                        </div>
                        <div class="form-group">
                            <div class="wrapper-label">
                                <label class="control-label" for="password">密码</label>
                            </div>
                            <input type="text" name="password" id="password"/>
                        </div>

                        <div class="form-group offset">
                            <input id="next" type="submit" value="登录"/>
                            <a href="/user/register" class="register" data-way="mp">注册</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="/js/item.js"></script>
    <script src="/js/tab.js"></script>
    <script src="/js/paging_ui.js"></script>
{% endblock %}