

.form-validate {
  margin: 0 auto;
  width: $input-group-width;
  height: $input-group-height;
  font-size: 14px;

  input,
  button {
    display: inline-block;
  }

  input {
    padding: 0 8px;
    width: $input-width;
    height: $input-height;
    border: 1px solid $divide-color;

    &.verify {
      width: $input-width - $verify-btn-width - 10;
      margin-right: 10px;
    }

    @extend .input;
  }

  button {
    width: $verify-btn-width;
    height: $input-height;
    background-color: #f2f2f2;
    border: 1px solid $divide-color;
    color: #666;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken(#f2f2f2, 4);
    }

    &:active {
      background-color: darken(#f2f2f2, 6);
    }

    @extend .button;
  }

  .input-tip {
    display: block;
    height: 20px;
  }
}
