<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="万木家后台" />
    <meta name="author" content="" />

    <title>万木家后台 - 登录</title>

    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/fonts/linecons/css/linecons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/fonts/fontawesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/xenon-core.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/xenon-forms.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/xenon-components.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/css/xenon-skins.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin/custom.css')}}">

    <script src="{{url_for('static', filename='lib/xenon/js/jquery-1.11.1.min.js')}}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='lib/xenon/js/html5shiv.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/xenon/js/respond.min.js')}}"></script>
    <![endif]-->


</head>
<body class="page-body login-page">


<div class="login-container">

    <div class="row">

        <div class="col-sm-6">

            <script type="text/javascript">
                jQuery(document).ready(function($)
                {
                    // Reveal Login form
                    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


                    // Validation and Ajax action
                    $("form#login").validate({
                        rules: {
                            username: {
                                required: true
                            },

                            password: {
                                required: true
                            }
                        },

                        messages: {
                            username: {
                                required: '请输入您的用户名'
                            },

                            password: {
                                required: '请输入您的密码'
                            }
                        },

                        // Form Processing via AJAX
                        submitHandler: function(form)
                        {
                            var $form = $(form);

                            // 如果提交还未响应时再次提交直接退出
                            if (getFormState($form)) {
                                return;
                            }
                            // 给表单加上正在提交标记
                            setFormPending($form);

                            show_loading_bar(70); // Fill progress bar to 70% (just a given value)

                            var opts = {
                                "closeButton": true,
                                "debug": false,
                                "positionClass": "toast-top-full-width",
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };

                            $.ajax({
                                url: "/privilege/45f9d832-you3fA8cannot-44Z3-bd0cai8-d8fac3c12459login",
                                method: 'POST',
                                dataType: 'json',
                                data: genFormData($form),
                                success: function(resp)
                                {
                                    show_loading_bar({
                                        delay: .5,
                                        pct: 100,
                                        finish: function(){

                                            // Redirect after successful login page (when progress bar reaches 100%)
                                            if(resp.accessGranted)
                                            {
                                                window.location.href = '/privilege';
                                            }
                                            else
                                            {
                                                toastr.error(resp.message + " 请重试 :)", "非法登录!", opts);
                                                $('#password').select();
                                            }

                                            // 设置表单可以被再次提交
                                            setFormReady($form);
                                        }
                                    });

                                },
                                error: function (xhr) {
                                    show_loading_bar({
                                        delay: .5,
                                        pct: 100,
                                        finish: function(){
                                            toastr.error(xhr.status +"错误，请稍后重试 :)", "服务器错误", opts);

                                            // 设置表单可以被再次提交
                                            setFormReady($form);
                                        }
                                    });
                                }
                            });

                        }
                    });

                    // Set Form focus
                    $("form#login .form-group:has(.form-control):first .form-control").focus();
                });
            </script>

            <!-- Errors container -->
            <div class="errors-container">


            </div>

            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" id="login" class="login-form fade-in-effect">
                {{ form.csrf_token }}

                <div class="login-header">
                    <a href="javascript:void(0)" class="logo clearfix">
                        <img src="{{url_for('static', filename='img/logo_white.png')}}" alt="" width="150" />
                        <span>后台登录</span>
                    </a>
                </div>


                <div class="form-group">
                    <label class="control-label" for="username">用户名</label>
                    <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">密码</label>
                    <input type="password" class="form-control input-dark" name="password" id="password" autocomplete="off" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-dark  btn-block text-left">
                        <i class="fa-lock"></i>
                        登录
                    </button>
                </div>
            </form>

        </div>

    </div>

</div>

{% include "vendor/include/footer.html" %}


<!-- Bottom Scripts -->
<script src="{{url_for('static', filename='lib/xenon/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/TweenMax.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/resizeable.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/joinable.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/xenon-api.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/xenon-toggles.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/jquery-validate/jquery.validate.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/xenon/js/toastr/toastr.min.js')}}"></script>


<!-- JavaScripts initializations and stuff -->
<script src="{{url_for('static', filename='lib/xenon/js/xenon-custom.js')}}"></script>
<script src="{{url_for('static', filename='lib/md5.js')}}"></script>
<script src="{{url_for('static', filename='js/util.js')}}"></script>

</body>
</html>
