h1.title {
    text-align: center;
    font-size: 28px;
    line-height: 100px;
    font-weight: normal;
}

.content {
    width: 1000px;
    margin: 0 auto;
    background: #eee;
    padding: 30px;
    margin-bottom: 20px;
}
.content .cont-item {
    display: none;
}
.content .cont-item-1 {
    display: block;
}
.content .cont-item h2 {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 10px;
}
.content .cont-item p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
}
.content .cont-item img {
    width: 100%;
    margin: 10px 0;
}
