{% extends "nav_midd.html" %}


{% block main_content %}
    <div class="page-title" data-page="settings">

        <div class="title-env">
            <h1 class="title">厂家设置</h1>
        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body">
            <form method="post" id="settings-form" role="form" action="/vendor/settings" class="validate form-horizontal">
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="logo">厂家logo</label>

                    <div class="col-sm-9">
                        <input name="logo" type="file" class="form-control" id="logo" accept="image/jpeg, image/png">

                        <div class="logo-preview">
                            <img src="{{ vendor.logo_url }}" alt="logo"/>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="name">厂家名称</label>

                    <div class="col-sm-9">
                        <input name="name" type="text" maxlength="20" class="form-control" id="name" data-validate="required" data-message-required="请填写厂家名称" value="年年红">
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="contact">联系人</label>

                    <div class="col-sm-9">
                        <input id="contact" name="contact" type="text" class="form-control" data-validate="required" data-message-required="请填写联系人" />
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="contact_mobile">联系手机</label>

                    <div class="col-sm-9">
                        <input id="contact_mobile" name="contact_mobile" type="text" class="form-control" data-validate="required" data-message-required="请填写联系手机"/>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="contact_telephone">联系固话</label>

                    <div class="col-sm-9">
                        <input id="contact_telephone" name="contact_telephone" type="text" class="form-control" data-validate="required" data-message-required="请填写联系固话" />
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="address">地址</label>

                    <div class="col-sm-9">
                        <input id="address" name="address" type="text" class="form-control" data-validate="required" data-message-required="请填写厂家地址" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-secondary" name="save" id="save">保存</button>
                        <span class="save-res">保存成功</span>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}


{% block scripts %}
    <script src="/js/jquery-validate/jquery.validate.min.js"></script>
{% endblock %}