{% extends "distributor/nav_midd.html" %}


{% block styles %}
    <link rel="stylesheet" href="/lib/xenon/js/datatables/dataTables.bootstrap.css">
{% endblock %}


{% block isItems %} opened active {% endblock %}
{% block isItems_li %} active {% endblock %}
{% block s_isItems %} opened active {% endblock %}
{% block s_isItems_li %} active {% endblock %}


{% block main_content %}
    <div class="page-title" data-page="items">

        <div class="title-env">
            <h1 class="title">商品列表</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/privilege"><i class="fa-home"></i>概览</a>
                </li>
                <li>

                    <a href="/privilege/items">商品管理</a>
                </li>
                <li class="active">

                    <strong>商品列表</strong>
                </li>
            </ol>

        </div>

    </div>


    <!-- Basic Setup -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">已上传商品列表</h3>

            <div class="panel-options">
                <a href="/privilege/items/new_item">
                    <i class="fa-plus-circle"></i>
                    <span class="title">添加商品</span>
                </a>
            </div>
        </div>
        <div class="panel-body">

            <table id="items" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>木材二级分类</th>
                    <th>指导价格</th>
                    <th>商品尺寸</th>
                    <th>库存</th>
                    <th>库存操作</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>木材二级分类</th>
                    <th>指导价格</th>
                    <th>商品尺寸</th>
                    <th>库存</th>
                    <th>库存操作</th>
                </tr>
                </tfoot>

                <tbody>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/lib/xenon/js/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/lib/xenon/js/datatables/dataTables.bootstrap.js"></script>
    <script src="/lib/xenon/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
    <script src="/lib/xenon/js/datatables/tabletools/dataTables.tableTools.min.js"></script>
{% endblock %}
