{% extends "admin/nav_midd.html" %}

{% block isVendor -%} opened active {%- endblock %}
{% block s_isVendor -%} opened active {%- endblock %}
{% block isVendor_confirm -%} active {%- endblock %}
{% block s_isVendor_confirm -%} active {%- endblock %}


{% block styles %}
    <link rel="stylesheet" href="/lib/xenon/js/datatables/dataTables.bootstrap.css">
{% endblock %}

{% block main_content %}
<div class="page-title" data-page="vendor-confirm">

    <div class="title-env">
        <h1 class="title">厂家审核</h1>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="/privilege"><i class="fa-home"></i>概览</a>
            </li>
            <li>
                <a href="/privilege/vendors">厂家管理</a>
            </li>
            <li class="active">
                <strong>厂家审核</strong>
            </li>
        </ol>

    </div>

</div>

<div id="vendor_confirm" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">待入驻厂家</h3>

        <div class="panel-options">
        </div>
    </div>
    <div class="panel-body">

        <table id="vendors" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>id</th>
                <th>邮箱</th>
                <th>联系手机</th>
                <th>联系电话</th>
                <th>代理人姓名</th>
                <th>代理人身份证</th>
                <th>代理人身份证正面照片</th>
                <th>代理人身份证反面照片</th>

                <th>名称</th>
                <th>营业执照所在地</th>
                <th>营业期限</th>
                <th>联系电话</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>id</th>
                <th>邮箱</th>
                <th>联系手机</th>
                <th>联系电话</th>
                <th>代理人姓名</th>
                <th>代理人身份证</th>
                <th>代理人身份证正面照片</th>
                <th>代理人身份证反面照片</th>

                <th>名称</th>
                <th>营业执照所在地</th>
                <th>营业期限</th>
                <th>联系电话</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </tfoot>

            <tbody>
            </tbody>
        </table>

    </div>
</div>


<div id="revocation" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">待解约商家</h3>

        <div class="panel-options">
        </div>
    </div>
    <div class="panel-body">

        <table id="distributors" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>id</th>
                <th>联系手机</th>
                <th>解约合同</th>

                <th>名称</th>
                <th>地址</th>
                <th>联系电话</th>
                <th>联系人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>id</th>
                <th>联系手机</th>
                <th>解约合同</th>

                <th>名称</th>
                <th>地址</th>
                <th>联系电话</th>
                <th>联系人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </tfoot>

            <tbody>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}


{% block modal %}
    <div class="modal fade" id="confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">厂家入驻审核</h4>
                </div>

                <div class="modal-body">

                    <dl class="confirm-info">
                        <dt id="vendor-name">厂家名称</dt>
                        <dd></dd>
                        <dt id="vendor-email">厂家邮箱</dt>
                        <dd></dd>
                        <dt id="vendor-mobile">厂家联系电话</dt>
                        <dd></dd>
                        <dt id="vendor-mobile">厂家联系手机</dt>
                        <dd></dd>
                        <dt id="vendor-agent_name">代理人姓名</dt>
                        <dd></dd>
                        <dt id="vendor-agent_identity">代理人身份证</dt>
                        <dd></dd>
                        <dt id="vendor-agent_identity_front">代理人身份证正面照片</dt>
                        <dd><img src="" alt="代理人身份证正面照片" /></dd>
                        <dt id="vendor-agent_identity_back">代理人身份证反面照片</dt>
                        <dd><img src="" alt="代理人身份证反面照片" /></dd>
                        <dt id="vendor-license_limit">营业执照期限</dt>
                        <dd></dd>
                        <dt id="vendor-address">厂家地址</dt>
                        <dd></dd>
                        <dt id="vendor-state">审核状态</dt>
                        <dd></dd>
                    </dl>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-role="vendor" data-action="accept" data-state="已接受" data-dismiss="modal">接受</button>
                    <button type="button" class="btn btn-danger" data-role="vendor" data-action="reject" data-state="已拒绝" data-dismiss="modal">拒绝</button>
                    <button class="btn " data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="revocation-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">商家解约审核</h4>
                </div>

                <div class="modal-body">

                    <dl class="confirm-info">
                        <dt id="dist-name">商家名称</dt>
                        <dd></dd>
                        <dt id="dist-address">商家地址</dt>
                        <dd></dd>
                        <dt id="dist-mobile">商家联系电话</dt>
                        <dd></dd>
                        <dt id="dist-mobile">商家联系手机</dt>
                        <dd></dd>
                        <dt id="dist-contact">商家联系人</dt>
                        <dd></dd>
                        <dt id="dist-contract">解约合同</dt>
                        <dd>
                            <img src="" name="解约合同" alt="解约合同照片">
                        </dd>
                        <dt id="dist-state">审核状态</dt>
                        <dd></dd>
                    </dl>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"  data-role="distributor" data-action="accept" data-state="已同意" data-dismiss="modal">同意解约</button>
                    <button type="button" class="btn btn-gray" data-role="distributor" data-action="reject" data-state="已驳回" data-dismiss="modal">驳回申请</button>
                    <button class="btn " data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/lib/xenon/js/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/lib/xenon/js/datatables/dataTables.bootstrap.js"></script>
    <script src="/lib/xenon/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
    <script src="/lib/xenon/js/datatables/tabletools/dataTables.tableTools.min.js"></script>
{% endblock %}
