{% extends "admin/nav_midd.html" %}
{% from 'macro/item_detail_form.html' import item_detail_form %}

{% block isItems -%} opened active {%- endblock %}


{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/js/select2/select2.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/js/select2/select2-bootstrap.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='lib/xenon/js/dropzone/css/dropzone.css')}}">
{% endblock %}


{% block main_content %}
<div class="page-title" data-page="item-detail">

    <div class="title-env">
        <h1 class="title">商品详情</h1>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="/privilege"><i class="fa-home"></i>概览</a>
            </li>
            <li>

                <a href="/privilege/items">商品管理</a>
            </li>
            <li class="active">

                <strong>商品详情</strong>
            </li>
        </ol>

    </div>

</div>

<form role="form" id="edit-item-form" class="form-wizard form-horizontal disabled">
    {{ form.csrf_token }}

    <ul class="tabs">
        <li class="active">
            <a href="#details" data-toggle="tab">
                商品详细信息
                <span>1</span>
            </a>
        </li>
        <li>
            <a href="#images" data-toggle="tab">
                商品图片
                <span>2</span>
            </a>
        </li>
    </ul>

    <div class="progress-indicator">
        <span></span>
    </div>

    <div class="tab-content no-margin">

        <!-- Tabs Content -->
        <div class="tab-pane with-bg active" id="details">
            <div class="item-info">
                {{ item_detail_form(form) }}
            </div>
        </div>

        <div class="tab-pane with-bg" id="images">

            <script type="text/javascript">
                // Sample Javascript code for this page
                jQuery(document).ready(function($)
                {
                    // Sample Select all images
                    $("#select-all").on('change', function(ev)
                    {
                        var is_checked = $(this).is(':checked');

                        $(".album-image input[type='checkbox']").prop('checked', is_checked).trigger('change');
                    });

                    // Edit Modal
                    $('.gallery-env a[data-action="edit"]').on('click', function(ev)
                    {
                        ev.preventDefault();
                        $("#gallery-image-modal").modal('show');
                    });

                });
            </script>

            <div class="gallery-env">

                <!-- Gallery Album Optipns and Images -->

                <!-- Album Header -->
                <div class="album-header">
                    <h2>已上传图片</h2>

                    <ul class="album-options list-unstyled list-inline hide">
                    </ul>
                </div>

                <!-- Album Images -->
                <div class="album-images row">

                    <!-- Album Image -->
                    {% for image in item.images %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="album-image" data-hash="{{ image.hash }}">
                                <a href="#" class="thumb" data-action="edit">
                                    <img src="{{ image.url }}" class="img-responsive" />
                                </a>

                                <a href="#" class="name" data-action="edit">
                                    <span>{{ image.filename }}</span>
                                    <em>{{ image.created | date }}</em>
                                </a>

                                <div class="image-options">
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>

        </div>


        <!-- Tabs Pager -->

        <ul class="pager wizard">
            <li class="previous">
                <a href="#"><i class="entypo-left-open"></i> 上一步</a>
            </li>

            <li class="next">
                <a href="#">下一步 <i class="entypo-right-open"></i></a>
            </li>
        </ul>

    </div>

</form>

{% endblock %}



{% block modal %}
<!-- Gallery Modal Image -->
<div class="modal fade" id="gallery-image-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-gallery-image">
                <img src="{{url_for('static', filename='lib/xenon/images/album-image-full.jpg')}}" class="img-responsive" />
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='lib/xenon/js/jquery-validate/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/xenon/js/formwizard/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/xenon/js/select2/select2.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/xenon/js/dropzone/dropzone.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/xenon/js/jquery-ui/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/linkagesel-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/category.js')}}"></script>
{% endblock %}
