{% extends "layout.html" %}


{% block navbar %}
    <nav class="navbar horizontal-menu navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->

        <div class="navbar-inner">

            <!-- Navbar Brand -->
            <div class="navbar-brand">
                <a href="/privilege" class="logo">
                    <img src="/images/logo.png" width="80" alt="" class="hidden-xs" />
                    <img src="/images/logo.png" width="80" alt="" class="visible-xs" />
                </a>
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-cog"></i>
                </a>
            </div>

            <!-- Mobile Toggles Links -->
            <div class="nav navbar-mobile">

                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle">
                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="user-info-menu-horizontal">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
                    <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
                    <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
                    <a href="#" data-toggle="mobile-menu-horizontal">
                        <i class="fa-bars"></i>
                    </a>
                </div>

            </div>

            <div class="navbar-mobile-clear"></div>


            <!-- main menu -->

            <ul class="navbar-nav">
                <li class="{% block isOverview %}{% endblock %}">
                    <a href="/vendor">
                        <i class="linecons-desktop"></i>
                        <span class="title">概览</span>
                    </a>
                </li>
                <li class="{% block isItems %}{% endblock %}">
                    <a href="/privilege/items">
                        <i class="linecons-note"></i>
                        <span class="title">商品管理</span>
                    </a>
                    <ul>
                        <li class="{% block isItems_li %}{% endblock %}">
                            <a href="/privilege/items">
                                <i class="fa-list"></i>
                                <span class="title">商品列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{% block isDistributors %}{% endblock %}">
                    <a href="/privilege/distributors">
                        <i class="linecons-shop"></i>
                        <span class="title">商家管理</span>
                    </a>
                    <ul>
                        <li class="{% block isDistributors_li %}{% endblock %}">
                            <a href="/privilege/distributors">
                                <i class="fa-list-ul"></i>
                                <span class="title">商家列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{% block isVendors %}{% endblock %}">
                    <a href="/privilege/distributors">
                        <i class="fa-suitcase"></i>
                        <span class="title">厂家管理</span>
                    </a>
                    <ul>
                        <li class="{% block isVendors_li %}{% endblock %}">
                            <a href="/privilege/distributors">
                                <i class="fa-list-ul"></i>
                                <span class="title">厂家列表</span>
                            </a>
                        </li>
                        <li class="{% block isVendors_comfirm %}{% endblock %}">
                            <a href="/vender/distributors?action=new">
                                <i class="fa-lock"></i>
                                <span class="title">厂家审核</span>
                            </a>
                            <ul>
                                <li class="{% block isDistributors_comfirm_register %}{% endblock %}">
                                    <a href="/privilege/distributors">
                                        <i class="fa-rocket"></i>
                                        <span class="title">厂家入驻审核</span>
                                    </a>
                                </li>
                                <li class="{% block isDistributors_comfirm_revocation %}{% endblock %}">
                                    <a href="/vender/distributors?action=new">
                                        <i class="fa-undo"></i>
                                        <span class="title">商家解约审核</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- notifications and other links -->
            <ul class="nav nav-userinfo navbar-right">

                <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

                    <form method="get" action="extra-search.html">
                        <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown xs-left">
                    <a href="#" data-toggle="dropdown" class="notification-icon notification-icon-messages">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-purple">7</span>
                    </a>

                    <ul class="dropdown-menu notifications">
                        <li class="top">
                            <p class="small">
                                <a href="#" class="pull-right">Mark all Read</a>
                                You have <strong>3</strong> new notifications.
                            </p>
                        </li>

                        <li>
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="active notification-success">
                                    <a href="#">
                                        <i class="fa-user"></i>

                                        <span class="line">
                                            <strong>New user registered</strong>
                                        </span>

                                        <span class="line small time">
                                            30 seconds ago
                                        </span>
                                    </a>
                                </li>

                                <li class="active notification-secondary">
                                    <a href="#">
                                        <i class="fa-lock"></i>

                                        <span class="line">
                                            <strong>Privacy settings have been changed</strong>
                                        </span>

                                        <span class="line small time">
                                            3 hours ago
                                        </span>
                                    </a>
                                </li>

                                <li class="notification-primary">
                                    <a href="#">
                                        <i class="fa-thumbs-up"></i>

                                        <span class="line">
                                            <strong>Someone special liked this</strong>
                                        </span>

                                        <span class="line small time">
                                            2 minutes ago
                                        </span>
                                    </a>
                                </li>

                                <li class="notification-danger">
                                    <a href="#">
                                        <i class="fa-calendar"></i>

                                        <span class="line">
                                            John cancelled the event
                                        </span>

                                        <span class="line small time">
                                            9 hours ago
                                        </span>
                                    </a>
                                </li>

                                <li class="notification-info">
                                    <a href="#">
                                        <i class="fa-database"></i>

                                        <span class="line">
                                            The server is status is stable
                                        </span>

                                        <span class="line small time">
                                            yesterday at 10:30am
                                        </span>
                                    </a>
                                </li>

                                <li class="notification-warning">
                                    <a href="#">
                                        <i class="fa-envelope-o"></i>

                                        <span class="line">
                                            New comments waiting approval
                                        </span>

                                        <span class="line small time">
                                            last week
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="external">
                            <a href="#">
                                <span>View all notifications</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown user-profile">
                    <a href="#" data-toggle="dropdown">
                        <img src="/images/user-1.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                            <span>
                                admin
                                <i class="fa-angle-down"></i>
                            </span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li class="last">
                            <a href="extra-lockscreen.html">
                                <i class="fa-lock"></i>
                                登出
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
{% endblock %}


{% block sidebar %}
    <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
    <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
    <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
    <div class="sidebar-menu toggle-others collapsed">

        <div class="sidebar-menu-inner">


            <ul id="main-menu" class="main-menu">
                <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <li class="{% block isOverview %}{% endblock %}">
                    <a href="/privilege">
                        <i class="linecons-desktop"></i>
                        <span class="title">概览</span>
                    </a>
                </li>
                <li class="{% block isItems %}{% endblock %}">
                    <a href="/privilege/items">
                        <i class="linecons-note"></i>
                        <span class="title">商品管理</span>
                    </a>
                    <ul>
                        <li class="{% block isItems_li %}{% endblock %}">
                            <a href="/privilege/items">
                                <i class="fa-list"></i>
                                <span class="title">商品列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{% block isDistributors %}{% endblock %}">
                    <a href="/privilege/distributors">
                        <i class="linecons-shop"></i>
                        <span class="title">商家管理</span>
                    </a>
                    <ul>
                        <li class="{% block isDistributors_li %}{% endblock %}">
                            <a href="/privilege/distributors">
                                <i class="fa-list-ul"></i>
                                <span class="title">商家列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{% block isVendors %}{% endblock %}">
                    <a href="/privilege/vendors">
                        <i class="fa-suitcase"></i>
                        <span class="title">厂家管理</span>
                    </a>
                    <ul>
                        <li class="{% block isVendors_li %}{% endblock %}">
                            <a href="/privilege/vendors">
                                <i class="fa-list-ul"></i>
                                <span class="title">厂家列表</span>
                            </a>
                        </li>
                        <li class="{% block isVendors_comfirm %}{% endblock %}">
                            <a href="/vender/distributors?action=new">
                                <i class="fa-lock"></i>
                                <span class="title">厂家审核</span>
                            </a>
                            <ul>
                                <li class="{% block isVendors_comfirm_register %}{% endblock %}">
                                    <a href="/privilege/distributors">
                                        <i class="fa-rocket"></i>
                                        <span class="title">厂家入驻审核</span>
                                    </a>
                                </li>
                                <li class="{% block isVendors_comfirm_revocation %}{% endblock %}">
                                    <a href="/vender/distributors?action=new">
                                        <i class="fa-undo"></i>
                                        <span class="title">商家解约审核</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
{% endblock %}
