footer {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #9c9c9c;

  & .wrapper {
    text-align: center;
  }

  & .widget {
    display: inline-block;

    & > li {
      margin: 0 $nav-interval-large;
      text-align: center;

      & h5 {
        margin: 0 0 20px;
        font-size: 18px;
      }
    }
  }

  & .widget-list {
    padding: 0;
    list-style: none;
  }

  & .copyright {
    margin-top: 50px;
    line-height: $line-height-base;
  }
}