{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/css/register_vender.css"/>
{% endblock %}

{% block content %}
    <div class="wrapper-register">
        <form action="/vender/register/result" method="post">
            <h1 id="basic-info" class="title offset"></h1>

            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="email">邮箱</label>
                </div>
                <input type="email" name="email" id="email"/>
            </div>

            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="password">密码</label>
                </div>
                <input name="password" type="password" id="password"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="confirm_pwd">再次输入密码</label>
                </div>
                <input name="confirm_pwd" type="password" id="confirm_pwd"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="pname">代理人真实姓名</label>
                </div>
                <input name="pname" type="text" id="pname"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="id">代理人身份证号</label>
                </div>
                <input name="id" type="text" id="id"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="id-photo">身份证照片</label>
                </div>

                <label class="upload" for="id-photo">
                    点击上传正面照片
                    <input name="photo" type="file" id="id-photo" accept="image/jpeg, image/png"/>
                    <div class="state"></div>
                </label>
            </div>
            <div class="form-group offset">
                <label class="upload" for="id-photo-back">
                    点击上传反面照片
                    <input name="photo" type="file" id="id-photo-back" accept="image/jpeg, image/png"/>
                    <div class="state"></div>
                </label>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="vname">品牌厂家名称</label>
                </div>
                <input name="vname" type="text" id="vname"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="laddr">营业执照所在地</label>
                </div>
                <input name="laddr" type="text" id="laddr"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="ltlimit">营业期限</label>
                </div>
                <input name="ltlimit" type="text" id="ltlimit"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="addr">联系地址</label>
                </div>
                <input name="addr" type="text" id="addr"/>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="id-photo">营业执照照片</label>
                </div>

                <label class="upload" for="license">
                    点击上传
                    <input name="license" type="file" id="license" accept="image/jpeg, image/png"/>
                    <div class="state"></div>
                </label>
            </div>
            <div class="form-group">
                <div class="wrapper-label">
                    <label class="control-label" for="verify">验证码</label>
                </div>
                <input name="verify" type="text" id="verify"/>
                <div class="code">
                    <img src="" alt="验证码"/>
                </div>
            </div>

            <div class="form-group offset action">
                <input type="submit" value="完成"/>
            </div>
        </form>
    </div>

    <script src="/js/forms.js"></script>
    <!--<script src="/js/register_ui.js"></script>-->
{% endblock %}